@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
   
}
/*Buttons*/
input {
    outline: none;
    width: 30px; 
    height: 30px;
    margin-bottom: 5%
}
#btnInfo {
    display: inline-block;
    position: 30%;
}
/*UserInterface*/
#uiPanel {
    position: fixed;
    height: 100%;
    width: 45px;
    /*background-color: blue; */
}
#btnMessages {
    padding-left: 2%;
    margin-top: 20%;
    margin-bottom: 20%;
    outline: none;
}
#btnWords { 
    padding-left: 2%;
    margin-bottom: 20%;
    outline: none;
}
#btnChars {
    padding-left: 2%;
    margin-bottom: 20%;
    outline: none;
}
/*Charts*/
#chartCountMessages {
    display: inline-block;
    margin-left: 36px;
    margin-right: 0.5%;
    width: 93%;
    height: 500px;
}
#chartTops {
    display: inline-block;
    margin-left: 55px;
    margin-right: 0.5%;
    width:42%;
    height: 500px;
}
#chartAverage {
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 45%;
    height: 500px;
}
#chartPercentages {
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.0%;
    padding-left: 0%;
    width: 30%;
    height: 400px;

}
/*Table*/
#Numbers{
    display: inline-block;
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0.5%;
    width: 30%;
    height: 400px;
    
}
table {
    margin-left: 0%;
    padding-left: 0%;
    margin-top: 7.5%;
    border-collapse: separate;
    border-spacing: 90px 0;
}
@media screen and (max-width: 1615px) {
    table {
        border-spacing: 60px 0;
    }
}
@media screen and (max-width: 1450px) {
    table {
        border-spacing: 30px 0;
    }
}
@media screen and (max-width: 1300px) {
    table {
        border-spacing: 20px 0;
    }
}
@media screen and (max-width: 1250px) {
    table {
        border-spacing: 10px 0;
    }
}
tbody {
    margin-left: 0%;
    padding-left: 0%;
}
td {
    margin-left: 0%;
    padding-left: 0%;
    font-size: 50px;
    color:#283150;
    text-align: left;
}
#date {
    font-size: 26px;
}
th {
    margin-left: 0%;
    padding-left: 0%;
    color: grey;
    text-align: left;
}
/*Table end*/
#chartHourFrequency {
    display: inline-block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 30%;
    height: 400px;
}
/*Leyendas*/
p{
    /*display: inline-block;*/
    vertical-align: top;
    text-align: center;
    /*margin-left: 25%;*/
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:#283150;
    font-weight: bold;
}
#leyend{
    width:45%;
}
/*Botones info */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #CE4A45;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  

/*On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    #chartTops{
        padding-left: 6%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 85%;
    }
    #chartAverage{
        padding-left: 2%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 88%;
    }
    #chartCountMessages{
        padding-left: 3%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 88%;
    }
    #chartPercentages{
        padding-left: 6.5%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 84%;
    }
    #chartHourFrequency{
        padding-left: 2%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 88%;
    }
    #Numbers{
        padding-left: 2%;
        margin-left: 2%;
        margin-right: 35%;;
        text-align: left;
        width: 88%;
        
    }
    table {
        border-spacing: 25px 0;
    }
}
